# Default ignored files
/shelf/
/.idea/
ParagonAutomationFramework.iml
ParagonAutomationFramework.ipr
ParagonAutomationFramework.iws
target/
extentReportsOutput/
/src/test/java/com/pinelabs/RnD/AndroidTest/Dummy.java

