<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation">
  <test thread-count="1" name="Test">
  <classes>
  <class name="com.pinelabs.RnD.WebUITest.PCUILoginTest"/>
  
  <class name="com.pinelabs.RnD.WebUITest.CreateMerchantTest"/>
  
<class name="com.pinelabs.RnD.WebUITest.ApproveMerchantTest"/>
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
